@import 'tailwindcss';
@plugin '@tailwindcss/typography';
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-base-100: #EEE8DC;
}

svg {
  width: 100%;
  height: 100%;
}
